:root {
  --bg-color: #f6f6f6;
  --fg-color: #403f53;
  --hyperlink-color: #288ed7;
  --hyperlink-hover: #48bcd6;
  --hyperlink-visited: #6248d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #04000b;
    --fg-color: #fbfbfb;
    --hyperlink-color: #5ca7e4;
    --hyperlink-hover: #48bcd6;
    --hyperlink-visited: #6248d6;
  }
}
@font-face {
  font-family: "iA Writer Mono";
  src:
    url("/fonts/iAWriterMonoS-Bold.woff2") format("woff2"),
    url("/fonts/iAWriterMonoS-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "iA Writer Quattro";
  src:
    url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "iA Writer Quattro";
  src:
    url("/fonts/iAWriterQuattroS-Bold.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "iA Writer Quattro";
  src:
    url("/fonts/iAWriterQuattroS-Italic.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "iA Writer Quattro";
  src:
    url("/fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: var(--hyperlink-color);
  &:visited {
    color: var(--hyperlink-visited);
  }
  &:hover {
    color: var(--hyperlink-hover);
  }
}

body {
  line-height: 1.6;
  font-size: 1.2rem;
  font-family: "iA Writer Quattro";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-rendering: optimizeSpeed;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1.2rem;
}
h1, h2, h3, h4 {
  font-family: "iA Writer Mono", serif;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}
.site-header {
  padding: .75rem 0;
  display: flex;
  justify-content: space-between;
}
.brand {
  font-weight: bold;
  font-family: "iA Writer Mono";
}
.nav {text-align: right; flex-shrink: 0;}
.nav:only-child {
  margin-left: auto;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  display: inline-block;
  a {
    padding: .75rem;
  }
}
.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.intro__photo {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}
.intro__text {
  padding: 2rem 0;
  text-align: left;
}
.intro__name {
  font-size: 2.2rem;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  text-align: center;
}
.links__list {
  padding: 0;
  list-style: none;
  text-align: left;
}

.links__item::before {
  content: "✿ ";
  color: #f76e6e;
}

.links__item:nth-of-type(2n)::before {
  color: #59ccf9;
}
.links__item:nth-of-type(2n-1)::before {
  color: #f4a8b8;
}

@media (prefers-color-scheme: dark) {
  .links__item:nth-of-type(3n-2)::before {
    color: #59ccf9;
  }
  .links__item:nth-of-type(3n-1)::before {
    color: #f4a8b8;
  }
  .links__item:nth-of-type(3n)::before {
    color: #fff;
  }
}

.footer {
  text-align: center;
  font-size: .75rem;
}
.hrt {
  color: #f76e6e;
}
.flag {
  font-size: 1em;
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.primary-content {
  flex-grow: 1;
}
