<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noimageai">
    <meta name="robots" content="noai">
    <meta name="description" content="The website of Erin Cochran, a front-end web developer living in Portland, Oregon">
    <meta name="fediverse:creator" content="@erincochran@hachyderm.io">
    <title>{{ title }}</title>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
    <link rel="me" href="mailto:erin@cochran.dev" />
    <link rel="me" href="https://hachyderm.io/@erincochran" />
    <link rel="me" href="https://codepen.io/erin-cochran" />
    <link rel="me" href="https://github.com/erin-cochran" />
    <link rel="me" href="https://linkedin.com/in/erincochran" />
    <link rel="me" href="https://keyoxide.org/48B2E80408EF071B3EC5E73FB8630402793DCA39" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- hello! thanks for viewing source! <3 -->
  </head>

  <body>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/">home</a>
        </li>
      </ul>
    </nav>
    {{ content }}
    <footer class="footer">
        <p><small><a rel="me" class="u-key" href="https://keyoxide.org/48B2E80408EF071B3EC5E73FB8630402793DCA39">48B2E80408EF071B3EC5E73FB8630402793DCA39</a></small></p>
    </footer>
  </body>

</html>
